.header {
    background: #FFFFFF;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1), 0px 0.4px 6.5px rgba(0, 0, 0, 0.05);
    padding: 2rem 0px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #262626;
    text-decoration: none;
    margin-left: 2.4rem;
}
.nav__link:hover {
    text-decoration: underline;
}
.nav__link:active {
    color: #91A0B6;
}
.nav__link:first-child {
    margin-left: 0px;
}
.header__block {
    display: flex;
    align-items: center;
}
.header__user {
    display: flex;
    align-items: center;
}
.user__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 2.8rem;
}