.header {
    background: #FFFFFF;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1), 0px 0.4px 6.5px rgba(0, 0, 0, 0.05);
    padding: 2rem 0px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #262626;
    text-decoration: none;
    margin-left: 2.4rem;
}
.nav__link:hover {
    text-decoration: underline;
}
.nav__link:active {
    color: #91A0B6;
}
.nav__link:first-child {
    margin-left: 0px;
}
.header__block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.header__block > .search__button {
    position: absolute;
    right: 6.4rem;
}
.header .input__wrapper {
    width: 70%;
    display: none;
}
.header-activeSearch .input__wrapper {
    display: block;
}
.header .search__input {
    width: 100% !important;
    background: #ececef;
}
.header__user {
    display: flex;
    align-items: center;
}
.user__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 2.8rem;
}
.header__logo {
    display: none !important;
}
.burger {
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    padding: 8px 0px;
    transform: rotate(180deg);
    margin-left: 1rem;
}
.burger__item {
    display: block;
    width: 18px;
    height: 2px;
    background: rgba(197, 209, 219, 1);
    border-radius: 2px;
    position: relative;
}
.burger__item::before,
.burger__item::after {
    content: "";
    position: absolute;
    background: #C5D1DB;
    width: 80%;
    height: 100%;
    left: 0px;
    border-radius: 2px;
}
.burger__item::before {
    top: -300%;
}
.burger__item::after {
    top: 300%;
}
.burger-active .burger__item {
    background: rgba(197, 209, 219, 0);
}
.burger-active .burger__item::before {
    transform: rotate(45deg);
    top: 0;
}
.burger-active .burger__item::after {
    transform: rotate(-45deg);
    top: 0;
}
@media (max-width: 870px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 1000;
    }
    .header__nav {
        display: none;
    }
    .header__logo {
        display: flex !important;
    }
    .header__user {
        display: none;
    }
    .header__block > .search__button {
        right: 4rem;
    }
    .burger {
        display: block;
    }
    .header__inner {
        justify-content: space-between;
    }
    .header__nav-active {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        top: 6.4rem;
        width: 100%;
        background-color: #FFFFFF;
    }
    .header__nav-active .nav__link {
        margin: 10px 0px 10px 40px;
    }
}