.navigation {
    display: flex;
    align-items: center;
}
.navigation__text {
    color: #91A0B6;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-right: 0.8rem;
}
.navigation__text-mobile {
    display: none;
}
.navigation__icon-mobile {
    display: none;
    transform: rotate(180deg);
}
.navigation > * {
    margin-right: 0.8rem;
}
@media (max-width: 750px) {
    .navigation {
        margin-top: 8rem;
    }
}
@media (max-width: 343px) {
    .navigation__text {
        display: none;
    }
    .navigation__text-mobile {
        display: inline;
    }
    .navigation__icon {
        display: none;
    }
    .navigation__icon-mobile {
        display: inline;
    }
}