.news__flag {
    width: 7.8rem;
    border-radius: 4px;
    background-color: #ED685C;
    color: #FFFFFF;
    padding: 0.8rem 0rem;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}
.news__flag:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 7px 18px 0;
    border-color: transparent #F6F6F6 transparent transparent;
}
.news {
    display: flex;
}
.news > .post {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.6rem 0rem 5.6rem;
}
.news > .post .img__wrapper {
    margin-bottom: 0rem;
    margin-right: 3.2rem;
}
.news > .post .post__title {
    font-size: 4.8rem;
    line-height: 7.2rem;
}