.news__flag {
    width: 7.8rem;
    border-radius: 4px;
    background-color: #ED685C;
    color: #FFFFFF;
    padding: 0.8rem 0rem;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}
.news__flag:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 7px 18px 0;
    border-color: transparent #F6F6F6 transparent transparent;
}
.news {
    display: flex;
}
.news > * {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.6rem 0rem 5.6rem;
}
.news > .post .img__wrapper {
    margin-bottom: 0rem;
    margin-right: 3.2rem;
}
.news > .loader .loader__img {
    margin-bottom: 0rem;
    margin-right: 3.2rem;
}
.news > .post .post__title {
    font-size: 4.8rem;
    line-height: 7.2rem;
}
.news > .post .post__content {
   flex-basis: 50%;
}
.news > .post .post__text {
    -webkit-line-clamp: 5;
}
@media (max-width: 1000px) {
    .news > .post .post__title {
        font-size: 3.8rem;
        line-height: 5.2rem;
    }
}
@media (max-width: 850px) {
    .news > .post .post__title {
        font-size: 3.4rem;
        line-height: 3.6rem;
    }
    .news > .post .post__content {
        flex-basis: 70%;
     }
     .news > .post .img__wrapper {
        margin-right: 2.2rem;
    }
    .news > .loader .loader__img {
        margin-right: 2.2rem;
    }
}
@media (max-width: 700px) {
    .news > * {
        flex-direction: column;
        margin: 1.6rem 0rem 2.8rem;
    }
    .news > .post .img__wrapper {
        margin-right: 0rem;
        margin-bottom: 1.6rem;
    }
    .news > .loader .loader__img {
        margin-right: 0rem;
        margin-bottom: 1.6rem;
    }
    .news > .post .post__title {
        font-size: 3.4rem;
        line-height: 3.6rem;
    }
    .news > .post .post__text {
        -webkit-line-clamp: 4;
    }
}
@media (max-width: 700px) {
    .news > .post .post__title {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
}