.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background: linear-gradient(90deg, #CFEDE6 7.49%, rgba(140, 222, 203, 0.832667) 100%);
    border-radius: 12px;
    width: 100%;
    margin: 2.8rem 1.5rem;
    padding: 2.4rem;
    padding-right: 0rem;
    order: 7;
}
.subscribe::after {
    content: "";
    position: absolute;
    background: url("../../../public/assets/img/subscribe.png") no-repeat ;
    width: 34.8rem;
    height: 26.1rem;
    top: -9px;
    left: 70%;
}
.subscribe__logo {
    margin-bottom: 2.4rem;
}
.subscribe__title {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #04BF94;
    margin-bottom: 0.8rem;
}
.subscribe__text {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000000;
    margin-bottom: 3.2rem;
}
.subscribe__button {
    border: none;
    outline: none;
    background: #04BF94;
    color: #FFFFFF;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 0.8rem 3.2rem;
    transition: all 0.3s linear;
}
.subscribe__button:hover {
    box-shadow: 0rem 0rem 0.8rem 0rem rgba(0,0,0,0.75);
}
.subscribe__button:active {
    background: #03daa7;
}
@media (max-width: 1160px) {
    .subscribe::after {
        left: 69%
    }
}
@media (max-width: 1110px) {
    .subscribe::after {
        left: 68%
    }
}
@media (max-width: 1070px) {
    .subscribe::after {
        left: 67%
    }
}
@media (max-width: 1040px) {
    .subscribe {
        padding: 2.4rem;
    }
    .subscribe::after {
        background: none;
    }
}
@media (max-width: 947px) {
    .subscribe {
        margin: 2.8rem 1.3rem;
    }
}
@media (max-width: 831px) {
    .subscribe {
        order: 5;
    }
}
@media (max-width: 770px) {
    .subscribe {
        padding: 20px;
    }
    .subscribe__logo {
        margin-bottom: 2rem;
    }
    .subscribe__title {
        font-size: 2.8rem;
        line-height: 4rem;
    }
    .subscribe__text {
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-bottom: 2rem;
    }
}
@media (max-width: 702px) {
    .subscribe {
        margin: 2.8rem 1rem;
    }
}
@media (max-width: 556px) {
    .subscribe {
        margin: 1.8rem 0rem;
    }
}
@media (max-width: 556px) {
   .subscribe {
       order: 4;
   }
}
@media (max-width: 480px) {
    .subscribe {
        padding: 16px;
    }
    .subscribe__logo {
        margin-bottom: 1.6rem;
    }
    .subscribe__title {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
    .subscribe__text {
        margin-bottom: 1.6rem;
        font-size: 1.8rem;
        line-height: 2.7rem;
    }
    .subscribe__button {
        width: 100%;
    }
}