.top {
    display: flex;
    margin: 0rem -1.5rem;
}
.top > * {
    flex-basis: 50%;
}
@media (max-width: 930px) {
    .top {
        margin: 0rem -1.3rem
    }
}
@media (max-width: 702px) {
    .top > * {
        margin: 2.8rem 1rem;
    }
    .top {
        margin: 0rem -1rem;
    }
}
@media (max-width: 556px) {
    .top {
        flex-direction: column;
        margin: 0rem;
    }
    .top > * {
        margin: 1.8rem 0rem;
    }
}