@import "/src/styles/fonts.css";
@import "/src/styles/normalize.css";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #F6F6F6;
}
.container {
    width: 100%;
    max-width: 113.4rem;
    margin: 0 auto;
    padding: 0px 3rem;
    overflow: hidden;
}
.search__button {
    width: 4rem;
    height: 4rem;
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__icon {
    width: 1.7rem;
    height: 1.7rem;
}
.section__line {
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
}
.section__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #91A0B6;
    text-transform: uppercase;
    margin-top: 2.8rem;
}